*{margin: 0px; padding: 0px;}

.bg-purple{background: #8b3797;}

.headerWrapper .top-strip{padding: 8px 0px; }

.headerWrapper .top-strip p{color: #fff;}

.headerWrapper .header{width: 100%; height: auto; }

.logoWraper img{ width: 100%;}